# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Data
.env
.env.local
.env.production
!**/.env.example
!proj/.env.example

# OS
.DS_Store
Thumbs.db

# Misc
*.zip
*.log

crawl_results/


copilot.exe
